<h1 style="display: flex;margin-left: auto;margin-right: auto;justify-content: center;margin-top: 40px;">Top Polyglots</h1>
<div style="display: flex;margin-left: auto;margin-right: auto;justify-content: center;margin-top: 40px;" >
	<h2>User</h2>
	<h2>Point</h2>
	</div>
<section class="main-content">

		<div class="container">
			
			<table class="table">
				<thead>
					<tr>
						<th>User</th>
						<th>Points</th>
					</tr>
				</thead>
<!-- 				<tbody>
					<tr>
						<td>
							<div class="d-flex align-items-center" *ngFor="let recipe of (wordRandom | async )">
								<div class="user-info__basic">
									<h5 class="mb-0">{{recipe.name}}</h5> 
									<p class="text-muted mb-0"> {{recipe.point}} </p> 
								</div>
								
							</div>
						</td>
						<td>
							<div class="d-flex align-items-baseline"> </div>
							
						</td>
						
					</tr>
					
				</tbody> -->
			</table>
			<div class="d-flex align-items-center" id="boardcontent" *ngFor="let recipe of (wordRandom | async )">
				<div class="user-info__basic">
					<h5 class="mb-0" id ="name">{{recipe.name}} </h5> 
					<p class="text-muted mb-0" id ="points"><B> {{recipe.point}} </B></p> 
				</div>
				
			</div>
		</div>
	</section>
	
