<head>
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<link rel="stylesheet" type="text/css" href="">
	
</head>
<body>
	<section class="main-content">
		<div class="container">
			<h1>Top Polyglots</h1>
			<br>
			<br>

			<table class="table">
				<thead>
					<tr>
						<th>User</th>
						<th>Points</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<div class="d-flex align-items-center">
								<div class="user-info__basic">
									<h5 class="mb-0"><!-- firstname-lastName--></h5> 
									<p class="text-muted mb-0"> <!-- Points --> </p> 
								</div>
							</div>
						</td>
						<td>
							<div class="d-flex align-items-baseline"> </div>
						</td>
						
						
					</tr>
					<tr>
						<td>
							<div class="d-flex align-items-center">
								<div class="user-info__basic">
									<h5 class="mb-0"><!-- firstname-lastName--></h5> 
									<p class="text-muted mb-0"> <!-- Points --> </p> 
								</div>
							</div>
						</td>
						<td>
							<div class="d-flex align-items-baseline">
							</div>
						</td>
						
				
					</tr>
					<tr>
						<td>
							<div class="d-flex align-items-center">
								
								<div class="user-info__basic">
									<h5 class="mb-0"><!-- firstname-lastName--></h5> 
									<p class="text-muted mb-0"> <!-- Points --> </p> 
								</div>
							</div>
						</td>
						<td>
							<div class="d-flex align-items-baseline">
								
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="d-flex align-items-center">
								<div class="user-info__basic">
									<h5 class="mb-0"><!-- firstname-lastName--></h5> 
									<p class="text-muted mb-0"> <!-- Points --> </p> 
								</div>
							</div>
						</td>
						<td>
							<div class="d-flex align-items-baseline">
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="d-flex align-items-center">
								<div class="user-info__basic">
									<h5 class="mb-0"><!-- firstname-lastName--></h5> 
									<p class="text-muted mb-0"> <!-- Points --> </p> 
								</div>
							</div>
						</td>
						<td>
							<div class="d-flex align-items-baseline">
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="d-flex align-items-center">
								
								<div class="user-info__basic">
									<h5 class="mb-0"><!-- firstname-lastName--></h5> 
									<p class="text-muted mb-0"> <!-- Points --> </p> 
								</div>
							</div>
						</td>
						<td>
							<div class="d-flex align-items-baseline">
								
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="d-flex align-items-center">
								<div class="user-info__basic">
									<h5 class="mb-0"><!-- firstname-lastName--></h5> 
									<p class="text-muted mb-0"> <!-- Points --> </p> 
								</div>
							</div>
						</td>
						<td>
							<div class="d-flex align-items-baseline">
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="d-flex align-items-center">
								<div class="user-info__basic">
									<h5 class="mb-0"><!-- firstname-lastName--></h5> 
									<p class="text-muted mb-0"> <!-- Points --> </p> 
								</div>
							</div>
						</td>
						<td>
							<div class="d-flex align-items-baseline">
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</section>
	
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
