<div class="text-center">
  <div style="background-color: #4D648D;padding: 20px;border-color:#283655 ;width: 700px;margin-left: auto;margin-right: auto;justify-content: center;border: 3px;border-style: solid;
  border-color: #283655;"> 
    <h5 style="color: white;margin-bottom: 10px;">Select the image (JPEG, PNG, GIF, BMP) :</h5>
    <input class="form-control" type="file" (change)="onChange($event)" />
    <br />
    <img class="preview" src="{{ this.imageSrc }}" alt=" Image" height="200px" />
    <br />
    <br />
    <button class="btn btn-success" name="loading" (click)="onUpload()">
      Upload
    </button>
  </div> 
  <br>

  <div style="background-color: #4D648D;padding: 18px ;width: 700px;margin-left: 4px;border: 3px;border-style: solid;
  border-color: #283655;">
  <form class="fileocr" (ngSubmit)="onUrl()">
    <div class="input-div">
      <h3 style="color: white;" for="image-url">Image url:</h3>
      <input id="image-url" name="image-url" type="text" style="height: 50px;border: none;"required [(ngModel)]="url" />
      <br />
      <br />
      <img class="preview" alt="image" src="{{ this.url }}" height="200px" />
      <br />
      <br />
    </div>
  </form>
  <button (click)="onUrl()" class="btn btn-success">URL</button>
  <br />
  <br />
  </div>
</div>

 
 <div style="background-color: #4D648D;width: 1000px;display: block;margin-left: auto;margin-right: auto;justify-content: center;margin-top: 20px;border: 3px;border-style: solid;
 border-color: #283655;">
  <br>
  <button (click)="printResponse()" style="display: block;margin-left: auto;margin-right: auto;justify-content: center;" class="btn btn-success">Recognize Text</button>
  <br />
  <form class="translation"  (ngSubmit)="translate()">

    <textarea id="image-text-card"  name="text" type="text" style="display: block;margin-left: auto;margin-right: auto;justify-content: center;word-wrap: none;" [(ngModel)]="allText" ></textarea>

    <br />
    <div class="input-div" style="display: block;margin-left: 400px;margin-right: auto;justify-content: center;" >
      <label style="color:white;"for="language"> Translate to:</label>
      <select name="language" id="language" style="padding: 10px;" [(ngModel)]="endLanguageCode">
        <option value="en">English</option>
        <option value="uk">Ukrainian</option>
        <option value="pl">Polish</option>
        <option value="hi">Hindi</option>
        <option value="gu">Gujarati</option>
        <option value="ar">Arabic</option>
      </select>
    </div>
    <br />
  
    <button id="translate-button" style="display: block;margin-left: auto;margin-right: auto;justify-content: center;" class="btn btn-success" type="submit" value="translation" >
      TRANSLATE
    </button>
    <br />
    <br />
    <textarea  style="display: block;margin-left: auto;margin-right: auto;justify-content: center;" id="translation-card">
 {{ this.translatedText }}
	</textarea>
  <br/>
    <!-- <p>{{this.translationService.text}}</p> -->
  </form>
</div>