.heading{
  display: flex;
  margin-left:auto;
  margin-right:auto;
  justify-content:center;
  margin-top: 20px;
  color:#283655
}

.text-center {
  padding-top: 30px;
  display:inline-flex;
 margin-left: 3rem;
 margin-right: 3rem;
 justify-content: center;
}

.form-control {
  width: 500px;
  padding: 10px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
}

.form-control:hover{
    border: solid darkblue;
}

.btn {
  background-color: #283655;
  border: 2pt solid white;
  margin: 2px;
}

.btn:hover {
  background-color:cyan ;
  border: 2pt solid darkblue;
  color: darkblue
}

#image-text-card {
  width: 50%;
  height: 120px;
  border-radius: 15px;
}

label{
    padding-right: 10px;
}

input {
    border-radius: 15px;
    width: 35%;
}

select{
    border-radius: 15px; 
}

input:hover{
    border: solid darkblue;
}


#translation-card {
    width: 50%;
    height: 120px;
    border-radius: 15px;
}