/*
*
{
    margin-left: auto;
    margin-right: auto;
}
*/

h3
{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    color: white;
}

.form-field
{
    display: flex;
    margin-top: 75px;
    margin-bottom: 75px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.form-field__content
{
    display: flex;
    border: solid;
    border-style: inset;
}

button
{
    background-color: #111827;
    color: white;
    border: solid;
    border-style: ridge;
    border-radius: 5px;
    padding: 10px;
    width: 130px;
    margin-right: 25px;
}

.form-actions
{
    display: flex;
    justify-content: center;
}

/*
form-field
form-field__content
form-field__subnote
form-field__label
form-actions
*/